<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="../static/css/blog-post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1 id="blog-name">The Music Banter</h1>

    <div id="content-wrapper">
        <!--.......  NAVIGATION BAR .......-->
        <header>
            <div class="button-wrapper">
                <button id="subscribe-button">Subscribe</button>
                <button id="sign-in-button">Sign In</button>
            </div>

            <div class="navbar-wrapper">
                <ul class="navbar">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Music News</a></li>
                    <li><a href="#">Best New Music</a></li>
                    <li><a href="#">Charts</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Staff Picks</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
        </header>

         <!--.......  ARTICLE SECTION .......-->
        <h2 id="article-title">10 Musicians Who Created Masterpieces with Artificial Intelligence</h2>
        <h4 class="article-info">By: Aja Reynolds</h4>
        <h4 class="article-info">Last Updated: 5/8 at 10:17 AM ET</h4>
        <figure>
            <img src="../static/images/yohann-libot-UqEF_gZVddk-unsplash.jpg" alt="AI Musicians" id="musician-pic">
            <figcaption class="fig-caps">Img 1. - "The Fountainhead" rock band</figcaption>
        </figure>
        <p>Halvah cheesecake powder danish <u>gummi bears</u> gummies sweet roll dessert. Chupa chups tootsie roll
            marshmallow
            cake gummies apple pie soufflé pudding sweet. Lollipop candy <em>candy chocolate donut brownie</em>. Tart
            cupcake cupcake cotton candy oat cake cotton candy pie. Powder gummies muffin dragée cake cotton candy
            macaroon tootsie roll. Icing icing cupcake pie dragée pie. Chocolate muffin <em>gingerbread bonbon
                dragée</em>
            pudding. Pastry dragée tootsie roll candy canes lollipop. Dragée sweet ice cream soufflé. Gingerbread pastry
            oat cake caramels apple pie tart. Icing fruitcake chocolate cake sweet roll lemon drops lemon drops powder
            cake. Carrot cake pie candy fruitcake cupcake chocolate bar. Dessert cookie macaroon. Caramels cotton candy
            cookie sesame snaps bear claw soufflé.</p>

        <p>Fruitcake cotton candy dessert chupa chups chocolate lemon drops oat cake toffee cheesecake. Apple pie
            chocolate soufflé. Liquorice chocolate bar macaroon cake muffin ice cream. Gingerbread tart donut fruitcake
            cake chocolate liquorice cake fruitcake. Brownie chocolate bar apple pie soufflé apple pie pudding tootsie
            roll tiramisu. Sweet cake biscuit gingerbread. Bear claw sugar plum topping chocolate <u>gummi bears</u>.
            Tart
            chocolate macaroon cake cake chocolate bar. Chocolate bar halvah tart pastry chocolate bar lemon drops
            lollipop. Marzipan dragée donut. Toffee sweet tart dragée jelly beans donut chocolate marshmallow jelly-o.
            Tootsie roll pie donut oat cake halvah danish bear claw. Cake caramels tootsie roll sweet roll cake. Soufflé
            biscuit icing sweet gummi bears jujubes fruitcake.</p>

        <p>Cupcake gingerbread apple pie wafer. <strong>Caramels cake pastry muffin jujubes</strong> jelly-o cake
            marzipan. Ice cream ice
            cream sweet ice cream muffin. Marshmallow sesame snaps halvah chocolate cheesecake ice cream. Sweet cake
            tiramisu. Oat cake chocolate chocolate cake candy canes bear claw. Carrot cake <strong>chupa
                chups</strong>caramels
            liquorice tiramisu soufflé cupcake cupcake. Cupcake toffee toffee sesame snaps <strong>chupa chups</strong>
            wafer topping
            cake. Marshmallow croissant jelly tootsie roll sesame snaps apple pie croissant. Pudding pastry sesame snaps
            <strong>chupa chups</strong> jelly candy. Jelly beans tootsie roll pudding cake topping gingerbread sesame
            snaps danish.
            Powder sweet pastry tart gummi bears. Dessert jelly beans halvah powder jelly-o biscuit marzipan jelly.</p>

        <p> <u>Gummi bears</u> dessert carrot cake apple pie apple pie. Cake fruitcake dragée lemon drops cookie wafer
            croissant
            cookie. Oat cake candy canes liquorice jujubes jujubes. Cotton candy powder dragée bonbon icing soufflé
            icing cake cheesecake. Marzipan liquorice dragée cake toffee oat cake. Sesame snaps chocolate cake icing
            wafer chocolate bar chocolate <u>gummi bears</u> toffee. Candy canes candy <u>gummi bears</u> fruitcake.
            Pastry
            gingerbread dragée jelly beans donut bonbon topping. Cheesecake biscuit halvah powder carrot cake. Cake
            pastry jelly-o chocolate cake apple pie dragée. Jelly oat cake candy canes chocolate bar cupcake pastry
            carrot cake. Candy dragée icing biscuit bonbon jelly-o biscuit. Chocolate cake cookie candy gummies.</p>

        <p>Below is a quote from Paul Allen regarding the future of Artificial Intelligence: </p>
        <blockquote
            cite="https://www.forbes.com/sites/nicolemartin1/2019/06/27/13-greatest-quotes-about-the-future-of-artificial-intelligence/#6c38fde03bdf">
            "The promise of artificial intelligence and computer science generally vastly outweighs the impact it could
            have on some jobs in the same way that, while the invention of the airplane negatively affected the railroad
            industry, it opened a much wider door to human progress."
        </blockquote>

        <!--.......  SOCIAL MEDIA SHARE-BUTTONS .......-->
        <h3>Share This Article</h3>
        <ul id="share-buttons">
            <li>
                <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
                    target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
            </li>

            <li>
                <a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=SimpleShareButtons"
                    target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
                </a>
            </li>

            <li>
                <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>
            </li>

            <li>
                <a
                    href="mailto:?Subject=SimpleShareButtons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20https://simplesharebuttons.com">
                    <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
                </a>
            </li>
        </ul>
    </div>

    <!--.......  FOOTER .......-->
    <footer>
        <p>Created and designed by Lydia Chan</p>
        <p>Copyright 2020. All Rights Reserved.</p>
        <p>Follow me on</p>
        <div class="follow-button-wrapper">
            <a href="#" class="fa fa-facebook" target="_blank"></a>
            <a href="#" class="fa fa-twitter" target="_blank"></a>
            <a href="#" class="fa fa-instagram" target="_blank"></a>
            <a href="#" class="fa fa-linkedin" target="_blank"></a>
        </div>
    </footer>
</body>

</html>